/* src/global.css */
@import 'bootstrap/dist/css/bootstrap.min.css';


header {
    height: 200px;
}

.main {
    min-height: 80vh;
}

footer {
    height: 150px;
    background-color: rgb(40, 3, 74);
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
}